/* Clases reutilizables */
body {
  font-family: 'Nunito', sans-serif;
}

/* Clases específicas */
.mx-height-img {
  max-height: 255px;
}

.fa-certificate {
  margin-right: 0.4em;
  font-size: 25px;
}
