/* Clases reutilizables */
body {
  font-family: 'Nunito', sans-serif;
  background-color: #fff;
}

header .hdr-bck-grnd-color {
  background-color: #333333!important;
}

footer {
  background-color: #333333;
}

/* helpers */
.ltr-spc-titles {
  letter-spacing: 2px;
}

.ltr-spc-subtitles {
  letter-spacing: 1px;
}

.ltr-spc-text {
  letter-spacing: 0.5px;
}

.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

/* Clases específicas */
.nav-link-color {
  color: #fff!important;
}

.navbar-nav li:hover a {
  background-color: #48E5C2;
}

#hero {
  background-image: url(../assets/images/hero.jpg);
  background-position: center center;
  background-size: cover;
  /* background-color: rgba(0,0,0,0.1);; */
}

#hero h1, #hero h3 {
  color: #EAEAEA;
}

.mx-height-img {
  max-height: 255px;
}

#about-me  {
  background-color: #48E5C2;
}

.rounded-top {
  border: 1px solid #fff;
  background-color: #F7FAFA;
}

.btn-style {
  color: #F7FAFA;
  background-color: #48E5C2;
  padding: .375rem .75rem;
  border-radius: .25rem;
}

.odd-btn .btn-style:nth-child(odd) {
  background-color: #124E78;
}

.btn-style:hover {
  text-decoration: none;
  color: #F7FAFA;
  background-color: #69E9CD;
}

.odd-btn .btn-style:nth-child(odd):hover {
  text-decoration: none;
  color: #F7FAFA;
  background-color: #527E9C;
}

#tech-skills {
  background-color: #124E78;
}

#tech-skills h2 {
  color: #fff;
}

#contact .fa-envelope-o {
  font-size: 20px;
  color: #648F98;
}

#contact .fa-mobile {
  font-size: 30px;
  color: #648F98;
}

a.btn-up {
  /* background: linear-gradient(-100deg, #F59C98, rgb(252, 187, 186)); */
  background: #48E5C2;
  border-radius: 50%;
  color: #ffff;
  padding: 10px 20px;
}

a.btn-up:hover {
  background: #69E9CD;
}

footer p {
  color: #bbb;
}

.email, .portfolio-link {
  color: #42D1B1;
}

.email:hover, .portfolio-link:hover {
  color: #35A78E;
}

@media (min-width: 992px) {
  #hero {
    min-height: 650px;
  }

  .navbar-nav li:hover a {
  border-radius: 25px 0px 25px 0px;
}
  
}