/* Nesting */

/* Clases reutilizables */

body {
  background-color: $white-background;
  font-family: $main-font;
}

header .hdr-bck-grnd-color {
  background-color: $black-background !important;
}

footer {
  background-color: $black-background;
  p {
    color: #bbb;
  }
}

/* Helpers */
.titles {
  color: $black-color-titles;
  font-weight: $font-weight-700;
}

.content {
  color: $black-color-content;
  font-weight: $font-weight-400;
  line-height: 32px;
}

.main-title {
  font-weight: $font-weight-900;
  letter-spacing: $fivepx-letter-spacing;
}

.sub-title {
  font-weight: $font-weight-600;
  letter-spacing: $threepx-letter-spacing;
}

.mini-title {
  font-weight: $font-weight-300;
  letter-spacing: $twopx-letter-spacing;
}

.ltr-spc-titles {
  letter-spacing: $twopx-letter-spacing;
}

.ltr-spc-subtitles {
  letter-spacing: $onepx-letter-spacing;
}

.ltr-spc-text {
  letter-spacing: $halfpx-letter-spacing;
}

.md-line-height {
  line-height: 28px;
}

.sm-line-height {
  line-height: 26px;
}

.white-highlight-txt {
  color: $white-color;
  font-weight: $font-weight-600;
}

.figure-cardify figcaption {
  margin-top: -28%;
  margin-left: 20%;
}

/* Clases específicas */

.navbar-brand:hover {
  color: $main-jade-color !important;
}

.collapse.navbar-collapse .navbar-nav.menu-items .nav-item.on-section a.nav-link {
  color: $ivory-white-color-for-navbar !important;
}

.navbar-nav li:hover a {
  background-color: $main-jade-color;
  color: #1C1C1C !important;
  border-radius: $oblique-border-radious;
  padding-left: 5px;
}

.on-section {
  background-color: $main-jade-color;
  border-radius: $oblique-border-radious;
  padding-left: 5px;
}

.lfp-ico {
  height: 45px;
}

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../assets/images/hero.jpg) center center fixed;
  height: 100%;
  min-height: 100vh;
}

#about-me {
  background-color: $main-jade-color;
}

#hero h1,
h3 {
  color: $ivory-white-color-for-navbar;
}

.mx-height-img {
  max-height: 355px;
}

.img-about {
  width: 20rem;
  height: 20rem;
}

.interests {
  color: $white-color;
  border-radius: 0.2em;
  background-color: #5F94BE;
  margin: 0.5rem;
}

.award-hr {
  background-color: $white-background;
  height: 0.5px;
  width: 80%;
}

.award-p {
  font-weight: $font-weight-600;
  font-size: 20px;
  letter-spacing: $twopx-letter-spacing;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.mt-project {
  margin-top: 1.5rem;
}

.rounded-top {
  background-color: #F0EFF1;
  border: 1px solid $white-color;
}

.card-body>h4 {
  color: #554C62;
  font-weight: $font-weight-500;
}

.card-body>hr {
  background-color: #5D536B;
  height: 1px;
}

.btn-style {
  color: $white-color-for-btn;
  background-color: $main-jade-color;
  border-radius: .25rem;
  padding: .375rem .75rem;
}

.odd-btn {
  background-color: $main-blue-color;
}

.btn-style:hover {
  @extend .btn-style;
  background-color: #69E9CD;
  text-decoration: none;
}

.odd-btn:hover {
  @extend .btn-style:hover;
  background-color: #527E9C;
}

#tech-skills {
  background-color: $main-blue-color;
  h2 {
    color: $white-color;
    font-weight: $font-weight-700;
  }
  p {
    color: $white-color;
    font-weight: $font-weight-700;
    font-size: 22px;
    letter-spacing: $twopx-letter-spacing;
  }
  figure {
    margin-right: 2rem;
  }
  figcaption {
    color: $white-color-for-btn;
    font-weight: $font-weight-400;
    letter-spacing: $onepx-letter-spacing;
  }
}

.tech-patch-mx-height {
  max-height: 250px;
  max-width: 80px;
}

.tech-patch-mx-height:hover {
  opacity: 0.5;
}

.contact-prgh {
  font-size: 26px;
}

#contact .fa-envelope-o {
  color: $deaf-jade-color;
  font-size: 20px;
}

#contact .fa-mobile {
  color: $deaf-jade-color;
  font-size: 30px;
}

.email,
.portfolio-link {
  color: $lighter-jade-color;
  font-size: 22px;
}

.email:hover,
.portfolio-link:hover {
  color: $darker-jade-color
}

.phone {
  font-size: 22px;
}

.contact-patch-mx-height {
  max-height: 250px;
  max-width: 60px;
}

.contact-patch-mx-height:hover,
.contact-patch-mx-height-cv:hover {
  opacity: 0.6;
}

.contact-patch-mx-height-cv {
  max-height: 62px;
  min-width: 82px;
}

.portfolio-link {
  font-size: 18px;
}

a.btn-up {
  background: $sea-jade-color;
  border-radius: 50%;
  color: $white-color;
  padding: 10px 20px;
}

a.btn-up:hover {
  background: $lighter-sea-jade-color;
}

@media (min-width:425px) {
  .figure-cardify figcaption {
    margin-left: 28%;
  }
}

@media (min-width: 768px) {
  img#profile-photo {
    margin-left: 76px;
  }
  .interests {
    margin: 1rem;
  }
  .figure-cardify figcaption {
    margin-left: 10%;
  }
  #tech-skills figure {
    margin-top: 1rem;
    margin-left: 2.5rem;
  }
  #social-network figure:nth-child(-n+3) {
    margin-right: 3rem !important;
  }
}

@media (min-width: 992px) {
  .navbar-nav li:hover a {
    border-radius: $oblique-border-radious;
  }
  #hero>div h1 {
    font-size: 6em;
  }
  #hero>div h3 {
    font-size: 3em;
  }
  .award-p {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  #about-me,
  #tech-skills {
    min-height: 600px;
  }
  #projects,
  #contact {
    min-width: 400px;
  }
  .figure-cardify figcaption {
    margin-left: 22%;
  }
  .titles {
    font-size: 4rem;
  }
  .md-line-height {
    line-height: 34px;
  }
  .mt-project {
    margin-top: 0;
  }
  .tech-skills-title {
    font-size: 4rem;
  }
  .tech-patch-mx-height {
    max-height: 300px;
    max-width: 130px;
  }
  .contact-patch-mx-height {
    max-width: 80px;
  }
  .contact-patch-mx-height-cv {
    max-height: 84px;
  }
}

@media(min-width: 1140px) {
  .content {
    line-height: 36px;
  }
}