/* Informacion reutilizable */

$main-font: 'Nunito',
sans-serif;
$white-background: #fff;
$white-color: #fff;
$white-color-for-btn: #F7FAFA;
$black-background: #333333;
$black-color-titles:#1C1C1C;
$black-color-content:#2A2A2A;
$ivory-white-color-for-navbar: #EAEAEA;
$darker-jade-color: #35A78E;
$main-jade-color: #48E5C2;
$lighter-jade-color: #42D1B1;
$sea-jade-color: #48E5C2;
$lighter-sea-jade-color: #69E9CD;
$deaf-jade-color: #648F98;
$main-blue-color: #124E78;
$oblique-border-radious: 25px 0px 25px 0px;
$font-weight-300: 300;  
$font-weight-400: 400;  
$font-weight-500: 500;  
$font-weight-600: 600;  
$font-weight-700: 700;  
$font-weight-800: 800;  
$font-weight-900: 900;  
$halfpx-letter-spacing: 0.5px;
$onepx-letter-spacing: 1px;
$twopx-letter-spacing: 2px;
$threepx-letter-spacing: 3px;
$fivepx-letter-spacing: 5px;